<div class="site-navbar">
  <div class="navbar-button" [ngClass]="{ 'open' : openedSidebar }" (click)="openSidebar()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <h1 class="page-title">{{ title }}</h1>

  <div class="nav-items">

    <div class="nav-item">
      <button type="button" class="btn btn-success btn-outline-success" (click)="changeLang()">{{ "Lang" | translate}}</button>
    </div>
    <!-- <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button mat-icon-button (click)="open($event)">
        <mat-icon>
          notifications_none
          <badge [color]="'danger'">1</badge>
        </mat-icon>
      </button>

      <div class="dropdown-menu">
        <h4 class="menu-title">Notifications</h4>

        <ul>
          <li>
            <a href="#">
              <mat-icon>group_add</mat-icon>
              <div class="content">
                <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                <span class="date">10 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>check</mat-icon>
              <div class="content">
                <span class="desc">Your site visits have increased <strong>15.5%</strong> more since the last week.</span>
                <span class="date">23 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>star</mat-icon>
              <div class="content">
                <span class="desc">Server loaded by 98% please recover soon</span>
                <span class="date">25 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>notifications_active</mat-icon>
              <div class="content">
                <span class="desc">We're looking to hire two more protypers to our team.</span>
                <span class="date">32 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>file_download</mat-icon>
              <div class="content">
                <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                <span class="date">58 minutes ago</span>
              </div>
            </a>
          </li>
        </ul>

        <div class="menu-footer">
          <a href="#">View all notifications</a>
        </div>
      </div>
    </div> -->

    <!-- <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button mat-icon-button (click)="open($event)">
        <mat-icon>
          event
          <div class="marker"></div>
        </mat-icon>
      </button>

      <div class="dropdown-menu">
        <h4 class="menu-title">Events</h4>

        <ul>
          <li>
            <a href="#">
              <mat-icon>android</mat-icon>
              <div class="content">
                <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                <span class="date">2 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>free_breakfast</mat-icon>
              <div class="content">
                <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                <span class="date">14 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon>mood</mat-icon>
              <div class="content">
                <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                <span class="date">15 minutes ago</span>
              </div>
            </a>
          </li>
        </ul>

        <div class="menu-footer">
          <a href="#">View all events</a>
        </div>
      </div>
    </div> -->

    <!-- <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button mat-icon-button (click)="open($event)">
        <mat-icon>chat_bubble_outline</mat-icon>
      </button>

      <div class="dropdown-menu">
        <h4 class="menu-title">You have 3 new messages</h4>

        <ul>
          <li>
            <a href="#">
              <img class="avatar" src="assets/content/avatar-1.jpg" width="42" height="42" alt="">

              <div class="content">
                <span class="meta">
                  <strong class="name">Victor Jara</strong>
                  <span class="date">3 Apr</span>
                </span>
                <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="avatar" src="assets/content/avatar-4.jpg" width="42" height="42" alt="">
              <div class="content">
                <span class="meta">
                  <strong class="name">Nancy Allen</strong>
                  <span class="date">2 Apr</span>
                </span>
                <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="avatar" src="assets/content/avatar-3.jpg" width="42" height="42" alt="">
              <div class="content">
                <span class="meta">
                  <strong class="name">Emma Watson</strong>
                  <span class="date">1 Apr</span>
                </span>
                <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div> -->

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button mat-button (click)="open($event)">
        <div class="avatar"><img src="assets/content/avatar-2.jpg" width="40" height="40" alt=""></div>
        <div class="name">{{ username }}</div>
      </button>

      <div class="dropdown-menu mini-menu">
        <ul>
          <li>
            <a href="#" onclick="return false;"><i class="fa fa-user-o"></i> {{ "Profile" | translate }}</a>
          </li>
          <li>
            <a [href]="this.authService.getLoggedInUser().merchant.storeUrl" target="_blank"><i class="fa fa-shopping-cart"></i> {{ "Online_Shop" | translate }}</a>
          </li>
          <li>
            <a href="#" (click)="logout()"><i class="fa fa-sign-out"></i> {{ "Log_Out" | translate }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="items-overlay" (click)="close($event)"></div>
  </div>
</div>