<div class="row">
  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'" class="info-card">
      <div class="title text-uppercase">Orders</div>
      <div class="count">2,145</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+17%</badge> <small>from previous period</small>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'" class="info-card">
      <div class="title text-uppercase">Revenue</div>
      <div class="count">$ 50,24</div>
      <small>11750</small>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'" class="info-card">
      <div class="title text-uppercase">Products</div>
      <div class="count">2,543</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+210</badge>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'rgba(0,128,0,0.8)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-7.jpg'" class="info-card">
      <div class="title text-uppercase">Sold</div>
      <div class="count">1,005</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+24%</badge>
    </card>
  </div>
</div>

<div class="row mb-lg-4">
  <div class="col-lg-6 map-col mb-4 mb-lg-0">
    <card [indents]="0" class="mb-0">
      <div class="map-box" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
    </card>
  </div>

  <div class="col-lg-6">
    <card class="mb-lg-0" >
      <canvas 
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [colors]="chartColors"

        [chartType]="barChartType"  >
      
      </canvas>
    </card>
  </div>
</div>

<div class="row">
  <div class="col-xl-4">
    <card [bgColor]="''" class="chart-card">
      <div class="chart">
        <canvas
          baseChart
          [data]="pieChartData"
          [colors]="pieChartColors"
          [labels]="pieChartLabels"
          [legend]="false"
          [options]="pieChartOptions"
          [chartType]="pieChartType"
          width="100%"
          height="100%"
          
        ></canvas>
      </div>
      <div class="info">
        <div class="title"><strong>930</strong> <small>Resolved</small></div>
        <div class="small">More than 70% resolved issues</div>
      </div>
    </card>
  </div>

  <div class="col-xl-4">
    <card [bgColor]="''" class="chart-card">
      <div class="chart">
        <canvas
          baseChart
          [data]="doughnutChartData"
          [colors]="doughnutChartColors"
          [labels]="doughnutChartLabels"
          [legend]="false"
          [options]="doughnutChartOptions"
          [chartType]="doughnutChartType"
          width="100%"
          height="100%"
        ></canvas>
      </div>
      <div class="info">
        <div class="title"><strong>466</strong> <small>Unresolved</small></div>
        <div class="small">Less than 30% unresolved issues</div>
      </div>
    </card>
  </div>

  <div class="col-xl-4">
    <card [bgColor]="''" class="chart-card">
      <div class="chart">
        <canvas
          baseChart
          [data]="polarAreaChartData"
          [colors]="polarAreaChartColors"
          [labels]="polarAreaChartLabels"
          [legend]="false"
          [options]="polarAreaChartOptions"
          [chartType]="polarAreaChartType"
          width="100%"
          height="100%"
        ></canvas>
      </div>
      <div class="info">
        <div class="title"><strong>1,547</strong> <small>Issues</small></div>
        <div class="small">8 issues are unassigned</div>
      </div>
    </card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <card [title]="'To do list'" class="mb-lg-0">
      <mat-list>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-avatar>{{folder.icon}}<badge *ngIf="folder.badge" [color]="'danger'" [position]="'top-right'">{{folder.badge}}</badge></mat-icon>
          <h4 mat-line>{{folder.name}}</h4>
          <p mat-line><i>{{folder.updated}}</i></p>
        </mat-list-item>
      </mat-list>
    </card>
  </div>
  <div class="col-lg-6">
    <ni-h-timeline [showYears]="false" [showDate]="false" [align]="'right'" [data]="timelineData"></ni-h-timeline>
  </div>
</div>
