<div class="col-lg-12">
  <card title="{{'Track-Brochures'| translate}}" class="mb-0">
    <div class="table-responsive">
      <table class="table table-bordered mb-0">
        <thead>
          <tr>
            <!-- <th>Cover Photo</th> -->
            <td align="center"><b>{{"Merchant-Name"|translate}}</b></td>
            <td align="center"><b>{{"Description"|translate}}</b></td>
            <td align="center"><b>{{"Creation-Date"|translate}}</b></td>
            <td align="center"><b>{{"Expiration-Date"|translate}}</b></td>
            <td align="center"><b>{{"Details"|translate}}</b> </td>

          </tr>
        </thead>
        <tbody>
          <tr *ngIf="(merchants.length == 0)">
            <td style="text-align: center;color: red" colspan="5">{{ "not_found" | translate }}</td>
          </tr>
          <tr *ngFor="let merchant of merchants">
            <!-- <td align="center"><img src="{{ merchant.coverPhoto }}" style="height: 90px; width:250px; " /> </td> -->

            <td class="td-position" align="center"> {{ (languageChangeService.direction_layout === 'left') ?
              (merchant.nameEn) : (merchant.nameAr) }}</td>
            <td class="td-position" align="center">
              {{ (languageChangeService.direction_layout === 'left') ? (merchant.descriptionEn) :
              (merchant.descriptionAr) }}
            </td>
            <td class="td-position" align="center">{{ merchant.creationDate | date:'dd/MM/yyyy' }}</td>
            <td class="td-position" align="center">{{ merchant.expirationDate | date:'dd/MM/yyyy'}}</td>
            <td class="td-position" align="center"> <a [routerLink]="['/default-layout/broch-det/' , merchant.id]" mat-raised-button color="primary">{{"View"|translate}}</a>

            </td>




          </tr>

        </tbody>
      </table>
    </div>
  </card>
</div>