<ng-progress></ng-progress>
<div class="site-container" [ngClass]="{'rtl': (languageChangeService.direction_layout === 'right') ? (true) : (false)}" [attr.dir]="(languageChangeService.direction_layout === 'right') ? 'rtl' : 'ltr'">
  <main class="main-content">
    <div class="main-content-wrap">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>