<form [formGroup]="brochureForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <card title="{{ 'General_Information' | translate}}" class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'Brochure_Name_Ar' | translate }}" type="text" value="" [formControl]="brochureForm.controls['nameAr']">
            <mat-error *ngIf="brochureForm.controls['nameAr'].hasError('required') && brochureForm.controls['nameAr'].touched">
              {{ "Field_Required" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'Brochure_Name_En' | translate }}" type="text" value="" [formControl]="brochureForm.controls['nameEn']">
            <mat-error *ngIf="brochureForm.controls['nameEn'].hasError('required') && brochureForm.controls['nameEn'].touched">
              {{ "Field_Required" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="{{ 'expiary_date' | translate }}" [formControl]="brochureForm.controls['expirationDate']">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="brochureForm.controls['expirationDate'].hasError('required') && brochureForm.controls['expirationDate'].touched">
              {{ "Field_Required" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="{{ 'Brochure_Desc_Ar' | translate }}" type="text" value="" [formControl]="brochureForm.controls['descriptionAr']">
            <mat-error *ngIf="brochureForm.controls['descriptionAr'].hasError('required') && brochureForm.controls['descriptionAr'].touched">
              {{ "Field_Required" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="{{ 'Brochure_Desc_En' | translate }}" type="text" value="" [formControl]="brochureForm.controls['descriptionEn']">
            <mat-error *ngIf="brochureForm.controls['descriptionEn'].hasError('required') && brochureForm.controls['descriptionEn'].touched">
              {{ "Field_Required" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12" style="margin-top: 5px;">
          <button type="button" mat-raised-button color="primary" (click)="addItem()"><i class="fa fa-plus"></i> {{
            "Add_Product" |
            translate }}</button>
        </div>
      </div>
    </card>
    <card title="{{ 'Cover_Photo' | translate}}" class="col-md-4">
      <div class="row text-center">
        <div class="col-md-12">
          <button type="button" class="btn btn-white btn-mini float-basic" title="Upload Photo" (click)="fileInput.click()"><i
              class="fa fa-upload"></i> {{ "Upload_Photo" | translate }}</button>
          <button type="button" [disabled]="!imageLoaded" class="btn btn-danger btn-mini float-basic" title="Remove Photo"
            (click)="clearBrochureFile()"><i class="fa fa-trash"></i> {{ "Remove_Photo" | translate }}</button>
        </div>
        <div class="col-md-12" style="margin-top: 6px;">
          <img alt="image" class="float-basic" [src]="url" style="height: 192px;">
          <input type="file" id="avatar" (change)="onFileBrochureChange($event)" #fileInput style="display: none;">
        </div>
      </div>
    </card>
  </div>
  <div class="row">
    <card *ngFor="let item of brochureItemList" title="{{ item.title | translate}} {{ item.counter }}" class="col-md-12">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field>
                <input matInput (blur)="setItem(item)" placeholder="{{ 'Item_Name_Ar' | translate }}" type="text" value=""
                  [formControl]="brochureForm.controls[('itemNameAr') + (item.counter)]">
                <mat-error *ngIf="brochureForm.controls[('itemNameAr') + (item.counter)].hasError('required') && brochureForm.controls[('itemNameAr') + (item.counter)].touched">
                  {{ "Field_Required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input matInput (blur)="setItem(item)" placeholder="{{ 'Item_Name_En' | translate }}" type="text" value=""
                  [formControl]="brochureForm.controls[('itemNameEn') + (item.counter)]">
                <mat-error *ngIf="brochureForm.controls[('itemNameEn') + (item.counter)].hasError('required') && brochureForm.controls[('itemNameEn') + (item.counter)].touched">
                  {{ "Field_Required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input matInput (blur)="setItem(item)" placeholder="{{ 'Item_Old_Price' | translate }}" type="text"
                  value="" [formControl]="brochureForm.controls[('itemOldPrice') + (item.counter)]">
                <mat-error *ngIf="brochureForm.controls[('itemOldPrice') + (item.counter)].hasError('required') && brochureForm.controls[('itemOldPrice') + (item.counter)].touched">
                  {{ "Field_Required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input matInput (blur)="setItem(item)" placeholder="{{ 'Item_New_Price' | translate }}" type="text"
                  value="" [formControl]="brochureForm.controls[('itemNewPrice') + (item.counter)]">
                <mat-error *ngIf="brochureForm.controls[('itemNewPrice') + (item.counter)].hasError('required') && brochureForm.controls[('itemNewPrice') + (item.counter)].touched">
                  {{ "Field_Required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input matInput (blur)="setItem(item)" placeholder="{{ 'Item_Desc_Ar' | translate }}" type="text" value=""
                  [formControl]="brochureForm.controls[('itemDescAr') + (item.counter)]">
                <mat-error *ngIf="brochureForm.controls[('itemDescAr') + (item.counter)].hasError('required') && brochureForm.controls[('itemDescAr') + (item.counter)].touched">
                  {{ "Field_Required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input matInput (blur)="setItem(item)" placeholder="{{ 'Item_Desc_En' | translate }}" type="text" value=""
                  [formControl]="brochureForm.controls[('itemDescEn') + (item.counter)]">
                <mat-error *ngIf="brochureForm.controls[('itemDescEn') + (item.counter)].hasError('required') && brochureForm.controls[('itemDescEn') + (item.counter)].touched">
                  {{ "Field_Required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input matInput (blur)="setItem(item)" placeholder="{{ 'Item_Color' | translate }}" type="text" value=""
                  [formControl]="brochureForm.controls[('itemColor') + (item.counter)]">
                <mat-error *ngIf="brochureForm.controls[('itemColor') + (item.counter)].hasError('required') && brochureForm.controls[('itemColor') + (item.counter)].touched">
                  {{ "Field_Required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input matInput (blur)="setItem(item)" placeholder="{{ 'Item_Size' | translate }}" type="text" value=""
                  [formControl]="brochureForm.controls[('itemSize') + (item.counter)]">
                <mat-error *ngIf="brochureForm.controls[('itemSize') + (item.counter)].hasError('required') && brochureForm.controls[('itemSize') + (item.counter)].touched">
                  {{ "Field_Required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row text-center">
            <div class="col-md-12">
              <button type="button" class="btn btn-white btn-mini float-basic" title="Upload Photo" (click)="clickFileItem(item)"><i
                  class="fa fa-upload"></i> {{ "Upload_Photo" | translate }}</button>
            </div>
            <div class="col-md-12" style="margin-top: 6px;">
              <img alt="image" class="float-basic" [src]="item.imageURL" style="height: 70px;">
              <input type="file" (change)="onFileItemChange($event,item)" [id]="('itemImage') + (item.counter)" style="display: none;">
            </div>
          </div>
        </div>
      </div>
    </card>
  </div>
  <div class="row" style="margin: 2px;">
    <button type="submit" style="width: 100%" mat-raised-button color="accent"><i class="fa fa-save"></i> {{ "Save" |
      translate }}</button>
  </div>
</form>