<card title="{{ 'Sign_in' | translate }}" [align]="'center'">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <!-- <select id="search-list" class="ui fluid search dropdown" style="height: 49px; width: 100%;" [formControl]="loginForm.controls['merchantId']">
       
        <option *ngFor="let user of users" [value]="user.id">{{user.brandNameEN}}</option>
      </select> -->
    <div *ngIf="invalidLogin"  class="alert" style="border-radius: 3%;">
      <strong>{{ invalidLoginTitle | translate }}!</strong> {{ invalidLoginBody | translate}}
    </div>
    <mat-form-field style="margin-top: 5px;">
      <mat-select placeholder="{{ 'Select_Merchant' | translate }}" [formControl]="loginForm.controls['merchantId']">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ (languageChangeService.direction_layout === 'right') ? (user.brandNameAR) : (user.brandNameEN) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'Username' | translate }}" type="text" name="username" [formControl]="loginForm.controls['username']">

    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="{{ 'Password' | translate }}" type="password" name="Password" [formControl]="loginForm.controls['password']">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" color="accent">{{ 'Sign_in' | translate }}</button>

    <div class="text-left mb-module" style="margin-top: 25px;">
      <button type="button" class="btn btn-success btn-outline-success" (click)="changeLang()" style="width: 100px;">{{ "Lang" | translate}}</button>
    </div>
    <div class="additional-info">
      <!-- <a href="#/extra-layout/sign-up">Sign up</a>
      <span class="divider"></span>
      <a href="#/extra-layout/forgot">Forgot your password?</a> -->
      <!-- <button type="button" class="btn btn-success btn-outline-success" (click)="changeLang()">{{ "Lang" | translate}}</button> -->
    </div>
  </form>
</card>