.td-position{
    vertical-align:middle;
}


.modal-button-margin{
    display: unset;
    margin: 2px;
}

.cancel-button{
    background-color: #dc143c;
    color: white;
}

.modal-body{
    max-height: 440px !important;
    overflow-y: scroll;
}
