<div class="col-lg-12">
  <card title="{{'Push_Notification'| translate}}" class="mb-0">
    <div class="table-responsive">
      <table class="table table-bordered mb-0">
        <thead>
          <tr>
            <!-- <th>Cover Photo</th> -->
            <td align="center"><b>{{"Merchant-Name"|translate}}</b></td>
            <td align="center"><b>{{"Description"|translate}}</b></td>
            <td align="center"><b>{{"Creation-Date"|translate}}</b></td>
            <td align="center"><b>{{"Expiration-Date"|translate}}</b></td>
            <td align="center"><b>{{"Details"|translate}}</b> </td>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let merchant of merchants">
            <!-- <td align="center"><img src="{{ merchant.coverPhoto }}" style="height: 90px; width:250px; " /> </td> -->

            <td class="td-position" align="center"> {{ (languageChangeService.direction_layout === 'left') ?
              (merchant.nameEn) : (merchant.nameAr) }}</td>
            <td class="td-position" align="center">
              {{ (languageChangeService.direction_layout === 'left') ? (merchant.descriptionEn) :
              (merchant.descriptionAr) }}
            </td>
            <td class="td-position" align="center">{{ merchant.creationDate | date:'dd/MM/yyyy' }}</td>
            <td class="td-position" align="center">{{ merchant.expirationDate | date:'dd/MM/yyyy'}}</td>

            <td class="td-position" align="center"> <button mat-raised-button color="primary" (click)="openModal('custom-modal-1', merchant)">{{
                "Notify" |translate}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </card>
</div>
<app-modal-animation [modalID]="'custom-modal-1'" [modalClass]="'md-effect-1  modal-lg'">
  <div class="modal-header">
    {{ "Select_Customers" | translate }}
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <select class="form-control" id="selectArea" (change)="loadCity($event.target.value)">
          <option value="" [selected]="true" disabled="disabled">
            {{ "Select_Area" | translate }}
          </option>
          <option *ngFor="let area of areas" [value]="area.id">
            {{ (languageChangeService.direction_layout === 'right') ? (area.nameAR) : (area.nameEN) }}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control" id="selectCity" (change)="loadDistrict($event.target.value)">
          <option value="" [selected]="true" disabled="disabled">
            {{ "Select_City" | translate }}
          </option>
          <option *ngFor="let city of cities" [value]="city.id">
            {{ (languageChangeService.direction_layout === 'right') ? (city.nameAR) : (city.nameEN) }}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control" id="selectDistrict">
          <option value="" [selected]="true" disabled="disabled">
            {{ "Select_District" | translate }}
          </option>
          <option *ngFor="let district of districts" [value]="district.id">
            {{ (languageChangeService.direction_layout === 'right') ? (district.nameAR) : (district.nameEN) }}
          </option>
        </select>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="col-md-6">
        <select class="form-control" id="selectNationality" style="margin-top: 25px;">
          <option value="" [selected]="true" disabled="disabled">
            {{ "Select_Nationalites" | translate }}
          </option>
          <option *ngFor="let nationality of nationalities" [value]="nationality.code">
            {{ nationality.name | translate }}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <label>{{ "Gender" | translate }}</label>
        <mat-radio-group>
          <mat-radio-button value="male">{{ "Male" | translate }}</mat-radio-button>
          <mat-radio-button value="female">{{ "Female" | translate }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="col-md-6">
        <label>{{ "Age" | translate }}</label>
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button type="button" (click)="closeModal('custom-modal-1')" mat-raised-button class="modal-button-margin" color="warn"
      data-dismiss="modal">{{"Cancel" | translate}}</button>
    <button type="button" (click)="saveModal()" mat-raised-button class="modal-button-margin" color="primary">{{"Send"
      | translate}}</button>
  </div>
  <button type="button" (click)="closeModal('custom-modal-1')" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
</app-modal-animation>