<ng-progress></ng-progress>
<div class="site-container" [ngClass]="(languageChangeService.direction_layout === 'right') ? (getArClasses()) : (getEnClasses())" [attr.dir]="(languageChangeService.direction_layout === 'right') ? 'rtl' : 'ltr'">
  <navbar title="{{ pageTitle | translate }}" (sidebarState)="sidebarState()" [openedSidebar]="openedSidebar"></navbar>

  <sidebar (sidebarState)="sidebarState()"></sidebar>

  <!-- <addition-navbar></addition-navbar> -->

  <main class="main-content">
    <div class="main-content-wrap">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </main>
</div>