<h2 mat-dialog-title>{{ mesasge | translate }}</h2>
<!-- <div mat-dialog-content>{{ mesasge | translate }}</div> -->
<div mat-dialog-actions style="text-align: center;display: block;">
  <button mat-button (click)="dialogRef.close('Option 1')" color="accent">{{ "Close" | translate }}</button>
</div>
