<div class="col-md-12">
  <!-- <p>
    <b style="font-size:x-large">{{"Number-Of-Viewers"|translate}}</b> <b style="font-size:x-large">{{ numberOfViews }}</b>
  </p> -->
  <card title="{{'Brochure_Information'|translate}}">
    <div class="col-md-12">
      <label class="float-basic"> {{ "Number-Of-Viewers" | translate }} <span style="font-weight: bold;color: red">{{
          (brochure)?(brochure.views):(null) }}</span></label>
    </div>
    <div class="col-md-12">
      <label class="float-basic"> {{ "Merchant-Name" | translate }} <span style="font-weight: bold;color: red">{{
          (brochure)?((languageChangeService.direction_layout === 'left') ?
          (brochure.nameEn) : (brochure.nameAr)):(null) }}</span></label>
    </div>
    <div class="col-md-12">
      <label class="float-basic"> {{ "start_date" | translate }} <span style="font-weight: bold;color: red">{{
          ((brochure)?(brochure.startDate):(null)) | date:'dd/MM/yyyy' }}</span></label>
    </div>
    <div class="col-md-12">
      <label class="float-basic"> {{ "Expiration-Date" | translate }} <span style="font-weight: bold;color: red">{{
          ((brochure)?(brochure.expirationDate):(null)) | date:'dd/MM/yyyy' }}</span></label>
    </div>
  </card>
  <card title="{{'Brochure Details'|translate}}">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="text-align: center">{{"Viewers"|translate}} </th>
            <!-- <th style="text-align: center">{{"Name"|translate}}</th> -->
            <th style="text-align: center">{{"Age"|translate}}</th>
            <th style="text-align: center">{{"City"|translate}}</th>
            <th style="text-align: center">{{"Gender"|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="(staticData.length == 0)">
            <td style="text-align: center;color: red" colspan="5">{{ "not_found" | translate }}</td>
          </tr>
          <tr *ngFor="let user of staticData">
            <td align="center" style="width:20% ; ">
              <img alt="" style="
              display: inline-block;
              height: 42px;" src="assets/content/profile1.png">

            </td>
            <!-- <td class="td-position" align="center">{{user.name}}</td> -->
            <td class="td-position" align="center">{{user.age}}</td>
            <td class="td-position" align="center">{{user.city}}</td>
            <td class="td-position" align="center">{{ "Male" | translate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </card>
</div>